<p>item-product works!</p>
<div class="grid-container-menu" style="background-color: blueviolet">
  <div class="btn-danger text-center item-menu-1" routerLink="/admin">
    модуль admin
  </div>

  <div class="btn-warning text-center item-menu-2" (click)="cancel()">
    id(
    <span class="text-primary"> {{ _idProduct }}</span
    >)
    {{ _nameProduct }}
  </div>

  <div
    class="btn item-menu-3"
    (click)="addImg()"
    [style.display]="_flagDisplayAddImgButton ?  'block':'none'  "
  >
    <img src="./../../../assets/icon/add-button.png" height="25" />
  </div>
</div>
<!--- Output Error-->

<div name="outputError"  [style.display]="_errorUotput ? 'block' : 'none'"  class="alert alert-danger p-1 " role="alert">{{_error}}</div>

<!-- template ngSwitch  ----------->

<ul class="nav flex-column">
  <li
    *ngFor="let item of _itemProducts"


    (click)="UpdateImg(item)"
  >
    {{ item.name }}
  </li>
</ul>
