<p>item-product works!</p>
<div class="grid-container-menu" style="background-color: blueviolet">
  <div class="btn-danger text-center item-menu-1" routerLink="/admin">
    модуль admin
  </div>

  <div class="btn-warning text-center item-menu-2" (click)="cancel()">
    id(
    <span class="text-primary"> {{ _selectedKagalog.id }}</span
    >)
    {{ _selectedKagalog.name }}
  </div>

  <div
    class="btn item-menu-3"
    (click)="addImg()"
    [style.display]="_flagDisplayAddImgButton ? 'block' : 'none'"
  >
    <img src="./../../../assets/icon/add-button.png" height="25" />
  </div>
</div>
<!--- Output Error-->

<div
  name="outputError"
  [style.display]="_errorUotput ? 'block' : 'none'"
  class="alert alert-danger p-1"
  role="alert"
>
  {{ _error }}
</div>

<!-- template ngSwitch  ----------->

<div [ngSwitch]="_flagViewMode">
  <ng-template ngSwitchDefault>
    <div
      [ngClass]="{
        'grid-container2': _flagPanel2,
        'grid-container1': _flagPanel1
      }"
    >
      <div class="bg-primary" (click)="ViwePanel()">
        <div class="bg-warning" [ngClass]="{ hiden: _flagKatalogHiden }">
          <ul class="nav flex-column">
            <li
              *ngFor="let item of _katalogs"
              [class.active]="item == _selectedKagalog"
              class="nav-item"
              (click)="changeKagalog(item)"
            >
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div>

      <div class="grid-sub-container-ms grid-sub-container">
        <div>id</div>
        <div>Name</div>
        <div>Price</div>
        <div class="hiden-description">descripstion</div>
        <div>images</div>

        <!-- start model view-->
        <ng-template ngFor let-product [ngForOf]="_products" let-i="index">
          <div
            [ngClass]="{ 'row-grid': i % 2 == 0 }"
            (click)="changeProduct(product)"
          >
            {{ product.id }}
          </div>

          <div
            [ngClass]="{ 'row-grid': i % 2 == 0 }"
            (click)="changeProduct(product)"
          >
            {{ product.name }}
          </div>
          <div
            [ngClass]="{ 'row-grid': i % 2 == 0 }"
            (click)="changeProduct(product)"
          >
            {{ product.price }}
          </div>
          <div
            class="hiden-description"
            [ngClass]="{ 'row-grid': i % 2 == 0 }"
            (click)="changeProduct(product)"
          >
            {{ product.description }}
          </div>
          <div [ngClass]="{ 'row-grid': i % 2 == 0 }" *ngIf="product.image">
            <img height="38" src="{{ _url_img }}{{ product.image }}" />
          </div>
          <div [ngClass]="{ 'row-grid': i % 2 == 0 }" *ngIf="!product.image">
            <img height="38" src="{{ _url_img }}not_found.png" />
          </div>
        </ng-template>
        <!-- end  model view-->
      </div>
    </div>

    <!----------------- create end-->
  </ng-template>

  <ng-template ngSwitchCase="edit">
    <div class="edit">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Редактировать элемент</h4>
          <!-- begin CKedit5------------------------------------->

          <!-- end --  CKedit5------------------------------------->

          <!-- begin edit  card ------------------------------------->

          <!--------------          -->

          <!-- idTypeProduct begin -->

          <!--------------------------->

          <div>
            <span class="input-group-text">{{ _selectedProduct.name }}</span>
          </div>

          <!-- Caruosel begin-->
          <div
            id="carousel"
            class="carousel slide"
            [style.display]="_flagCarouselHiden == true ? 'block' : 'none'"
          >
            <ol class="carousel-indicators">
              <ng-container *ngFor="let item of _images; index as i">
                <li
                  *ngIf="i == 0; else elseBlok"
                  (click)="changeImg(i)"
                  [ngClass]="{ active: i == _currentIndex }"
                ></li>
                <ng-template #elseBlok>
                  <li
                    (click)="changeImg(i)"
                    [ngClass]="{ active: i == _currentIndex }"
                  ></li>
                </ng-template>
              </ng-container>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  class="d-block w-100"
                  src="{{ _url_img }}{{ _currentImage.name }}"
                  alt="First slide"
                />
              </div>
            </div>
            <!---- end --class carousel-inner-->
            <a class="carousel-control-prev" (click)="Prev()" role="button">
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" (click)="Next()" role="button">
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!-- Carousel end-->

          <!---------------------Image Photo Begin----------------------01.05.21---------->

          <div class="form-group">
            <div class="form-control">
              <app-crop-upload-files
                (getImg)="onSetFilePhoto($event)"
              ></app-crop-upload-files>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <img
              [src]="_selectedImage.imageBase64"
              [style.display]="_flagPhoto == true ? 'block' : 'none'"
              class="img-wrap mb-3"
            />
          </div>


          <!---------------   Imge Photo end       -->

          <div class="d-flex justify-content-center">
            <div class="btn-group text-center" role="group">
              <button class="btn btn-sm btn-success" (click)="addImg()">
               Сохранить
              </button>

              <button class="btn btn-sm btn-danger" (click)="deleteImg()">
                Удалить
              </button>
              <button class="btn btn-sm btn-warning" (click)="cancel()">
                Отмена
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end edit  ------------------->
  </ng-template>
</div>
<!-- Caruosel Beging-->
