.c-1 {
	padding-top: 1rem;
	background-image: url('../../assets/images/bg_img/bg-nav.jpg');

  padding-bottom: 1rem;
}

.card{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.h5 {
	color: #E87E04;
	font-family: 'Roboto Condensed', sans-serif;

}
img
{
  max-width: 90%;
  margin-bottom: 1rem;

}
