
<nav class="navbar navbar-expand-sm bg-warning navbar-light justify-content-center">
  <!-- Links -->
  <ul class="navbar-nav">

   <li class="nav-item">
    <a class="nav-link"  routerLink="katalog">Каталог</a>
 </li>
 <li class="nav-item">
  <a class="nav-link"  routerLink="model">Модели</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="nomenclature">Номенклатура</a>
 </li>
     <li class="nav-item">
        <a class="nav-link"  routerLink="сomponents">Комплектующие</a>
     </li>
     <li class="nav-item">
        <a class="nav-link"  routerLink="nomenclatureComponents">Состав</a>
     </li>


  </ul>
</nav>
