<nav
  class="navbar navbar-expand-sm bg-warning navbar-light justify-content-center"
>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="katalog">Каталог</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="katalog">Тип</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="product">Товар</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"[routerLink]="['item-product','1','test-1']">Состав</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="nomenclature">Номенклатура</a>
    </li>
  </ul>
</nav>
<div>
  <img
    src="./../../../assets/images/db/DBModelDiagram.png"
    height="300"
    class="rounded mx-auto d-block"
  />
</div>
