<div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        <img src="./../../assets/icon/logo2.svg" height="38" alt="X-01" />
      </a>
      <!--  06.05.2020      -->
      <p class="text-light text-uppercase font-weight-bold">
     <a href="tel:+79002440328">  ( +7-900-244-03-28 ) </a>
      </p>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto text-uppercase font-weight-bold">
          <li class="nav-item active">
            <a class="" routerLink="/" routerLinkActive="active"
              ><img src="./../../assets/icon/home2.svg" alt="Дом" height="35"
            /></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="menu/oplata-i-dostavka"
              routerLinkActive="active"
              >Оплата и Доставка
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="menu/kakZakazat"
              routerLinkActive="active"
              >Как заказать?</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="menu/garantiya"
              routerLinkActive="active"
              >Гарантии</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu/about" routerLinkActive="active"
              >О нас</a
            >
          </li>
          <li class="nav-item" >
            <div *ngIf="getUsrAdmin();then thenBlockAdmin else elseBlockAdmin "> </div>
              <ng-template #thenBlockAdmin>
            <button type="button" class="btn btn-success navbar-btn mr-1 mb-1" routerLink="/admin" routerLinkActive="active"
              >Админ</button
            >
          </ng-template>
          <ng-template #elseBlockAdmin>
            <div></div>

          </ng-template>


          </li>
          <li class="nav-item">


              <div *ngIf="getUsrAuht(); then thenBlock else elseBlock"></div>
            <ng-template #elseBlock> <button type="button"

              class="btn btn-danger navbar-btn login-btn"

              routerLink="/auth"
            >
            <img src="./../../assets/icon/auth/log-in.svg"  height="23" alt="ВХОД"
            />

            </button></ng-template>
            <ng-template #thenBlock> <button type="button"

              class="btn btn-success navbar-btn login-btn"

              routerLink="/auth/user-profile"
            >
            <img src="./../../assets/icon/auth/log-in.svg"  height="23" alt="ВЫХОД"
            />

            </button></ng-template>


          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>
