
<div class="c-1">
  <div class="c-2">
    <h1>ГАРАНТИИ</h1>
    <p>Товар предоставляется как есть -(что видишь то и покупаешь)-без предоставления каких-либо гарантий.<br>
       В случае поломки позвоните нам -мы подумаем как вам помочь<br>

       в этом случае нас интересуют следующие вопросы:

      </p>

           <ul>
             <li>Как давно вы покупали товар</li>
             <li>Что сломалось</li>
             <li>Что сломалось -Фото на watsapp</li>
             <li>Предположительная причина поломки</li>
           </ul>
  </div>
</div>
