<p>model works!</p>
<div class="row">
  <div class="btn-danger col-sm-2 text-center" routerLink="/admin" > модуль admin</div>
  </div>
<div class="container-fluid">

  <div class="row">


    <div class="col-sm-2"><button><span>id</span> Name ModelS</button></div>
    <div class="col-sm-2">|Get katalog</div>
    <div class="col-sm-1">|Price</div>
    <div class="col-sm-6">|descripstion</div>
  <div class="col-sm-1">|<img src="./../../../assets/images/kamod/laminat/k-1.jpg" alt="" height="40" srcset=""></div>
  </div>
</div>
