
<div class="h4 text-center mb-0">{{_katalogName}}</div>
<div class="container-fluid">

   <!-- Grid table-->
  <div class="grid-container">
    <div class="card m-1 p-1 border-info " *ngFor="let item of _products">
      <div class="card-body">
        <h4 class="card-title  text-info">{{ item.name }}</h4>
        <img
          class="card-img-top"
          src="{{_url_img}}{{item.image}}"
        />

        <p></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> {{ item.description }}</li>
          <li class="list-group-item">Цена:{{ item.price * item.markup + item.price }}р</li>

      </ul>

        <a href="#" class="btn btn-primary">Подробней</a>
      </div>
    </div>
  </div>
</div>

<!--    ////////-->
